{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!--header-->
    <div class="site-blocks-cover overlay" style="background-image: url(/static/images/podcast.jpg);" data-aos="fade" data-stellar-background-ratio="0.8">
        <div class="container"></div>
    </div>
  <!--end header-->
    <!-- search section -->
    <div class="site-section bg-light">
      <div class="container">

        <div class="row mb-5" data-aos="fade-up">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black">About</h2>

             This website is a repository of language-learning podcasts. Finding podcasts that are suitable for or even relevant to language
              learning can be a challenge. The Community Podcast project presents and index of vetted podcasts that can be
              searched using parameters relevant to world languages,
              with the ultimate goal of exposing students to regional variations in language and cultural practices.
          </div>
        </div>

      </div>
    </div>


          {% endblock %}